<html >
<head>
    <meta charset="utf-8"/>
    <title>Library Manager</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <div class="sidebar"
         xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
        <h1>Library Manager</h1>
  <a th:href="@{/}">Home</a>
     | &nbsp;
   <a th:href="@{/user/}">User Manager</a>
     | &nbsp;
   <a th:href="@{/product/}">Book List</a>
     | &nbsp;
   <a th:if="${#request.userPrincipal != null}" th:href="@{/logoutSuccessful}">Logout</a>
</div>
</div>
</body>
</html>