<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Book Manager</title>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>
<div>
<div class="wrapper">
    <div class="sidebar"
         xmlns:th="http://www.thymeleaf.org"
         style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
        <h1>Library Manager</h1>
        <a th:href="@{/}">Home</a>
        | &nbsp;
        <a th:href="@{/user/}">User Manager</a>
        | &nbsp;
        <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
    </div>
</div>
</div>

<div id="admin" th:if="${isAdmin}">
    <div align="center">
        <br><br><br>
        <h1>Book List</h1>
         <br><br>
              <a href="/product/new">Create New Book</a>
          <br/><br/>
        <table class="ptable">
            <thead>
            <tr>
                <th>Product ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}">Product ID</td>
                <td th:text="${product.title}">Title</td>
                <td th:text="${product.author}">Author</td>
                <td th:text="${product.genre}">Genre</td>
                <td th:text="${product.price}">Price</td>
                <td>
                    <a th:href="@{'/product/edit/' + ${product.id}}">Edit</a>
                    <a th:href="@{'/product/delete/' + ${product.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="user" th:unless="${isAdmin}">
<div align="center">
<br><br><br>
<h1>Book List</h1>
<br><br>
<table class="ptable">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
        <td th:text="${product.id}">Product ID</td>
        <td th:text="${product.title}">Title</td>
        <td th:text="${product.author}">Author</td>
        <td th:text="${product.genre}">Genre</td>
        <td th:text="${product.price}">Price</td>
    </tr>
    </tbody>
</table>
</div>
</div>
</html>


