<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <div class="sidebar"
             xmlns:th="http://www.thymeleaf.org"
             style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
            <h1>Library Manager</h1>
            <a th:href="@{/}">Home</a>
            | &nbsp;
            <a th:href="@{/user/}">User Manager</a>
            | &nbsp;
            <a th:href="@{/product/}">Book List</a>
            | &nbsp;
            <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
    </div>
</div>
<div align="center">
    <br><br>
    <h1>Add new book</h1>
    <br/>
    <form action="#" th:action="@{/product/save}" th:object="${product}" method="post">
        <table border="10" cellpadding="20">
            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{title}"/></td>
            </tr>
            <tr>
                <td>Author:</td>
                <td><input type="text" th:field="*{author}"/></td>
            </tr>
            <tr>
                <td>Genre:</td>
                <td><input type="text" th:field="*{genre}"/></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="*{price}"/></td>
            </tr>
            <tr>
                <td colspan="7"><button type="submit">Save</button></td>
            </tr>
            <!-- Here we used the Thymeleaf syntax for the form instead of Spring form tags -->
        </table>
    </form>
</div>
</body>
</html>